page-select-tag-modal {
  .saveDisabled{
        color: #d3d3d4 !important;
        background-color: transparent;
        font-size: 12pt;
    }

    .saveEnabled {
        color: #6095fe !important;
        background-color: transparent;
        font-size: 12pt;
    }

    ion-item:nth-of-type(even) {
        background-color: rgb(241, 241, 241);
    }

    .toolbar-background {
        background-color: #fff;
      }

      .toolbar-title-ios{
        color: grey;
        font-size: 16pt;          
      }
      
    .friend-icon{
        width: 60px;
        height: 60px;
        position: relative;
        top: 1px;
        margin-right: 5px;
    }

    .clicked{
        display: inline;
        height: 40px;
        width: 40px;
        text-align: center;
        margin-top: 20px;
    }

    .unclicked{
        display: none;
    }

    .text-input-ios{
        text-align: left !important;
        padding: 10px;
    }

    .text{
        color: grey;
        top: 16%;
        position: fixed;
        font-size: 12pt;
    }

    .text-empty{
        color: #f4f4f4;
        margin: 0 !important;
        padding: 0 !important;
    }

    ion-item-group > ion-item {
      max-height: 40px !important;
      min-height: 20px !important;
    }
}
