page-select-token-modal {
    
   
    ion-content{
        background-color: #fff !important;
    
    }   
    scroll-content, fixed-content {
        margin-top: 110px;
    }

    button {
        width:95%; 
        height:10%; 
        
    }
    .buttons {
        margin: 10px;
        text-align: center;
        
    }
    div {
        text-align: center;
    }
    h1 {
        margin: 10px;
        text-align: center;
    }
    p {
        color: black;
        font-size: 16px;
        text-align: left;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 0px;
        width: 100%;
        margin-left: calc(4% + 1px);
        
    }
    .col {
        text-align: center;
    }
   
    ion-icon {
        display: inline-block;
        vertical-align: middle;
    }

    .tokens-left {
        font-size: 18px; 
        text-align: left !important;
        width: calc(93% + 2px); 
        margin-left: calc(4% + 1px);
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 15px 0;
    }
    
    .back-button-icon-ios {
        float: left;
        display: inherit;
        width: 100%;
        margin-left: calc(4% + 1px);
    }

}