<!--DEFAULT HEADER. Must be copied-pasted to appropriate pages.
https://forum.ionicframework.com/t/same-header-for-all-pages/75736/3
-->
<ion-header class='default'>
  <ion-navbar hideBackButton="false">
    <ion-title>
      <h1 style="font-size: 20pt; color: grey">Share a Brand</h1>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card *ngFor="let item of cardItems; let i=index;">
    <ng-container *ngIf="i % 3 !== 0 || i === 0">

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/Logo_Square.png">
        </ion-avatar>
        <h2>{{item.user.brand}}</h2>
        <p>{{item.date}}</p>
      </ion-item>

      <img [src]="item.user.image">

      <ion-row>
        <ion-col center text-left>
            <button ion-button color="primary" clear small icon-left>
                <img class="small-icon" src="assets/img/ShareIcon.svg" style="width:15px;height:15px;">
                Share
            </button>
        </ion-col>

        <ion-col center text-right>
          <!--3 tags-->
          <button ion-button color="primary" clear small icon-left>
              <ion-icon name='bookmark'></ion-icon>
              {{ item.tags.length + " Tags" }}
            </button>
          <!-- {{ item.tags.length + " Tags" }}-->
        </ion-col>
      </ion-row>
          <hr>
    </ng-container>

    <!-- Every third card, show a swipe-able card section to refine users preferences.-->
    <ng-container *ngIf='i % 3 === 0 && i > 0'>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/Logo_Square.png">
        </ion-avatar>
        <p class='text-wrap'>We noticed you liked the keyword <a>Oakland Raiders</a></p>
      </ion-item>
      <ion-card-content>
        <swipe></swipe>
      </ion-card-content>
    </ng-container>

  </ion-card>

</ion-content>
