
page-confirm-purchase-modal {
    
   
    ion-content{
        background-color: #fff !important;
    
    }   
    
    button{
        border-style: solid;
        border: 1px solid gray;
        text-align: center;
        border-right-color: #fff;
        border-left-color: #fff;
        border-bottom-color: #fff;
        width:100% !important; 
        height:15%; 
        font-size: 18px;
        background-color: #fff;
        color:rgb(0.0, 122, 255) !important; 
        margin-top:83px !important;
    }
    .buttons{
        margin-top: 87px;
        padding: 0px;
        display: block;
        
    }
    .close{
        font-size: 18px;
        font-weight: 800;
        font-family: 'Open Sans';
    }
    div{
        text-align: center;
        padding:0px;
    }
    h1{
        margin: 15px;
        text-align: left;
        //padding-left: .2%; 
    }
    p{
        color: black;
        font-size: 18px;
        text-align: left;
        display: inline-block;
        
        margin: 15px;
        
    }
    .col{
        text-align: center;
    }
   
    ion-icon{
        display: inline-block;
        vertical-align: middle;
    }
    
    #token-div{
        text-align:center;
       // padding-top: 30px;
        font-size: 18px;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
   

}