page-user-account {
    ion-item:nth-of-type(odd) {
        background-color: rgb(241, 241, 241);
    }
    ion-item-group {
        display: block;
        margin-top: 10px;
    }

    ion-item table {
        width: 100%;
    }

    // icons
    img {
        height: 18px;
        vertical-align: middle;
        margin-right: 5px;
    }

    //button
    .item-ios .item-button {
        font-size: 18px;
        float: right;
    }

    .button-clear-ios, ion-icon.icon.icon-ios.ion-ios-arrow-forward {
        color: #91c949;
    }
}

